.proba {
  color: white;
  text-align: center;
  width: 100%;
  padding: 5px 10px 0px 10px;
}

table {
  background: linear-gradient(to right, #3a6bfc, #a914db);
}

.headline {
  background-color: #965dcf;
  line-height: 2;
}

.cells {
  background-color: #d5ddf7;
  border: 10px;
  line-height: 2;
}
