html {
  background-color: #FFD700;
}

.header {
  background-color: grey;
  font-size: 24px;
  margin: 0;
  border-bottom: 2px solid black;
  height: 100px;
  line-height: 100px;
  width: 100%;
}

.main {
margin: 10px 80px;
}

.books_title {
  text-align: center;
}

* {
  font-family: Arial;
}

.area_of_books {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.book_1 {
  width: 400px;
  height: 500px;
  border: 1px black;
  position: absolute;
  left: 20px;
    }

    _
