.Columns {
  color: white;
  text-align: center;
  width: 100%;
  padding: 5px 10px 0px 10px;
  overflow: hidden;
  position: relative;
}

table {
  background: linear-gradient(to right, #3a6bfc, #a914db);
}

.bold-text__gradient {
  background-color: #e52c95;
  line-height: 2;
}

.bg-rgba__b-10__lh-2 {
  background-color: #d5ddf7;
  background: rgba(218, 217, 219, 0.51);
  border: 10px;
  line-height: 2;
  }

tr:hover {
  background: rgba(245, 245, 245, 0.73);
}
